<footer class="border-top footer text-muted text-center ">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
        @*<custom-email my-email="Abrahammicheal55@yahoo.com"></custom-email>*@
    </div>
</footer>

