

@*@{
    ViewData["Title"] = "About us";
}*@

    <p>This is the about page of the application</p>

    @section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item"><a href="#">About us</a></li>
        </ol>
    </nav>
}